/* Nesting o anidamiento*/

header {
    nav {
        ul {
            list-style: none;
            li {
                list-style-type: circle;
                a {
    text-decoration: underline;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        background-color: teal;
    }
}

