@import '../base/listas';
header {
    nav {
        ul {
            list-style: none;
            li {
                list-style-type: circle;
                a {
    text-decoration: none;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        background-color: rgb(0, 23, 128);
    }
}

